button {
  outline: none;
  border: 0;
  cursor: pointer;
}

/* navbar */
navbar {
  background-color:antiquewhite;
  /* margin-bottom: 0.5em; */
  padding: 1.5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

.navbar-logo {
  color: darkgreen;
  text-align: center;
  margin-right: 0.3em;
}


.navbar-count {
  background-color:darkseagreen;
  color: aliceblue;
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-left: 0.2em;
}

/* search bar */
.searchbar {
  display: flex;
  margin: 1rem;
}

.searchbar-input {
  flex: 60%;
  height: 2em;
  margin-right: 1em;
}

.searchbar-add {
  flex: 1;
  color: whitesmoke;
  background-color: darkgreen;
  font-size: 1rem;
  font-weight: bold;
}

/* habits */
.habit {
  font-size: 2.5rem;
  list-style: none;
  padding: 0.5em;
}

.habit-count {
  background-color:darkseagreen;
  color: aliceblue;
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-left: 0.2em;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.7;
}

.habit-increase-btn {
  color: cadetblue;
}

.habit-decrease-btn {
  color: gold
}

.habit-trash-btn {
  color: gray;
}

.reset-btn {
  background-color: darkgreen;
  color: whitesmoke;
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}